.map-container-10 {
  overflow:hidden;
  padding-bottom: 0;
  position:relative;
  height: 50%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.btn-info {
  margin-bottom: 50px;
  margin-top: 50px;
}
h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
