{% extends "base.html" %}

{% block title %}Book{% endblock %}

{% block content %}

	{% load i18n %}

	<!-- errors -->
	{% if book_details.errors|length > 0 %}
		<div class="alert alert-danger" role="alert">
			<ul>
				{% for e in book_details.errors %}
					<li>{{ e }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<!-- table -->
	<div class="container">
		<div class="text-center">
			<h1>{{ book_details.name }}</h1>
			<table class="table table-striped table-bordered">
				<tbody>
				{% if book_details.authors|length > 0 %}
					<tr>
						<td>{% trans 'Autor:' %}</td>
						<td>
							{% for author in book_details.authors %}
								<a href="/search/author/{{ author }}">{{ author }}</a>
							{% endfor %}
						</td>
					</tr>
				{% endif %}
				{% if 'publisher' in book_details %}
					<tr>
						<td>{% trans 'Verleger:' %}</td>
						<td>{{ book_details.publisher }}</td>
					</tr>
				{% endif %}
				{% if 'bookEdition' in book_details %}
					<tr>
						<td>{% trans 'Auflage:' %}</td>
						<td>{{ book_details.bookEdition }}</td>
					</tr>
				{% endif %}
				{% if 'datePublished' in book_details %}
					<tr>
						<td>{% trans 'Erscheinungsjahr:' %}</td>
						<td>{{ book_details.datePublished }}</td>
					</tr>
				{% endif %}
				{% if 'issn' in book_details %}
					<tr>
						<td>ISSN:</td>
						<td>{{ book_details.issn }}</td>
					</tr>
				{% endif %}
				{% if 'isbn' in book_details %}
					<tr>
						<td>ISBN:</td>
						<td>{{ book_details.isbn }}</td>
					</tr>
				{% endif %}
				{% if book_details.languages|length > 0 %}
					<tr>
						<td>{% trans 'Sprache:' %}</td>
						<td>
							{% for language in book_details.languages %}
								{{ language }}
							{% endfor %}
						</td>
					</tr>
				{% endif %}
				{% if 'availability' in book_details %}
					<tr>
						<td>{% trans 'Verfügbarkeit:' %}</td>
						<td>{{ book_details.availability }}</td>
					</tr>
				{% endif %}
				{% if book_details.libraries|length > 0 %}
					<tr>
						<td>{% trans 'Bibliotheksstandort:' %}</td>
						<td>
							<dl class="row">
								{% for lib_name, lib_data in book_details.libraries.items %}
									<dt class="col-sm-4 text-right" style="margin: 0px">{{ lib_name }}</dt>
									<dd class="col-sm-8 text-left">
										<ul>
											<li>{% trans 'Signatur' %}: {{ lib_data.book_signature }}</li>
											<li>{{ lib_data.book_status }}</li>
											<li>{{ lib_data.book_position }}</li>
											<ul style="list-style: none;margin: 0px;padding: 0px">
												<li>
													{% if lib_name == "Bibliotheca Albertina" %}
														<a href="/title/mapalbertina/{{ book_details.ppn }}">{% trans 'Karte Albertina' %}</a>
													{% else %}
														<ul style="list-style: none;margin: 0px;padding: 0px">
															<li hidden="hidden"></li>
														</ul>
													{% endif %}</li>
											</ul>
										</ul>
									</dd>
								{% endfor %}
							</dl>
						</td>
					</tr>
				{% endif %}
				{% if 'link' in book_details %}
					<tr>
						<td>{% trans 'Link:' %}</td>
						<td><a href="{{ book_details.link }}">Link zur UBL</a></td>
					</tr>
				{% endif %}
				{% if book_details.rvk_codes|length > 0 %}
					<tr>
						<td>{% trans 'Kategorien:' %}</td>
						<td>
							<ul style="list-style: none; margin: 0px; padding: 0px">
								{% for rvk_code in book_details.rvk_codes %}
									<li><a href="/search/rvk/{{ rvk_code }}">{{ rvk_code }} </a></li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endif %}
				{% if 'wachtl_url' in book_details %}
					<tr>
						<td>{% trans 'Wachtl-Link:' %}</td>
						<td><a href="{{ book_details.wachtl_url }}">{{ book_details.wachtl_url }}</a></td>
					</tr>
				{% endif %}
				</tbody>
			</table>

		</div>
	</div>


	{% if book_details.libraries|length > 0 %}
		<div class="container">
			<div class="text-center" style="margin: 5%">
				<!-- {% for lib_name, lib_data in book_details.libraries.items %}
        {% if lib_name == "Bibliotheca Albertina"%}
        <a href="/title/mapalbertina/{{ book_details.ppn }}" class="btn btn-info" role="button">
				{% trans 'Karte Albertina' %}</a>
        {% endif %}
        {% endfor %} -->
				<!--Button für eigenen Standort-->
				<button type="button" class="btn btn-info" onclick="geoFindMe()" id="out" style="margin: 5px"
				>{% trans 'Mein Standort' %}</button>
				<!--<button type="button" class="btn btn-info" onclick="distance(51.3406321,12.3747329,50.735851,7.10066)" id="distanz">Distanz</button>-->
				{% for lib_name, lib_data in book_details.libraries.items %}
					<a href="{{ lib_data.link }}" class="btn btn-info" role="button" target="_blank"
					   style="margin: 5px"
					>
						{% trans 'Route zu ' %}{{ lib_name }}</a>
				{% endfor %}
				<div id="distanz"></div>
			</div>
		</div>

		<!--Leipzig Karte-->
		<div class="container" style="width: 90%; height: 50%; margin-bottom: 60px">
			<div id="map" class="z-depth-1-half map-container-10"></div>
		</div>
		<div></div>
	{% endif %}

{% endblock %}

{% block script_generic %}
	{% if book_details.libraries|length > 0 %}
		<script>
            var map = L.map('map').setView([51.33, 12.38], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>, ' + ' <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a>'

                }).addTo(map);

            {% for lib_name, lib_data in book_details.libraries.items %}
                {% if lib_data.coordinates is not None %}
                    let library_{{ lib_data.variable }} = L.marker({{ lib_data.coordinates }}).addTo(map);
                    library_{{ lib_data.variable }}.bindPopup("<b>{{ lib_data.name }}</b><br>{{ lib_data.street }}<br>{{ lib_data.city }}");
                {% endif %}
            {% endfor %}


		</script>

		<!-- Funktion um die Koordinaten des Standortes zu bekommen -->
		<script>


            function geoFindMe() {
                var output = document.getElementById("out");
                let positionMarker = L.icon({
                    iconUrl: '/static/leaflet/images/positionMarker.png',
                    iconAnchor: [25, 43]
                });

                if (!navigator.geolocation) {
                    output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
                    return;
                }

                function success(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var marker = L.marker([latitude, longitude], {icon: positionMarker}).addTo(map);
                    marker.bindPopup("<b>Mein Standort</b>");



                    {% for library in libraries %}
                        var la = {{library.coordinates}};
                        output.innerHTML = distance(latitude, longitude, la[0], la[1]);
                        var myLines = [{
                            "type": "LineString",
                            "coordinates": [[longitude, latitude], [la[1], la[0]]]
                        }];
                        //Farbe der Linien
                        var myStyle = {
                            "color": "#ff7800",
                            "weight": 5,
                            "opacity": 0.65
                        };
                        //Linien Zeichnen
                        L.geoJSON(myLines, {
                            style: myStyle
                        }).addTo(map);
                    {% endfor %}
                }

                function error() {
                    output.innerHTML = "Unable to retrieve your location";
                }

                navigator.geolocation.getCurrentPosition(success, error);
            }

		</script>

		<!-- Funktion um die Distanz zwischen zwei Orten zu brechnen -->
		<script>
            function distance(lat1, lon1, lat2, lon2) {
                var output = document.getElementById("distanz");
                var radlat1 = Math.PI * lat1 / 180;
                var radlat2 = Math.PI * lat2 / 180;
                var radlon1 = Math.PI * lon1 / 180;
                var radlon2 = Math.PI * lon2 / 180;
                var theta = lon1 - lon2;
                var radtheta = Math.PI * theta / 180;
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                dist = Math.acos(dist);
                dist = dist * 180 / Math.PI;
                dist = dist * 60 * 1.1515;
                dist = dist * 1.609344;
                output.innerHTML = dist;
            }
		</script>
		<script>

		</script>
	{% endif %}

{% endblock %}
