{% extends "base.html" %}

{% block title %}Searchresults{% endblock %}

{% block content %}

	{% load i18n %}

	<!-- errors -->
	{% if errors|length > 0 %}
		<div class="alert alert-danger" role="alert">
			<ul>
				{% for e in errors %}
					<li>{{ e }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="container" style="padding-top: 50px; width: 500px;">
		<p>{% blocktrans trimmed %} Das Buch ist im gelben eingekreisten Bereich. {% endblocktrans %}</p>
	</div>

	<div class=container id="maps" style="width: 500px;height: 500px;"></div>


{% endblock %}

{% block script_generic %}
	<script src="/static/leaflet/leaflet.js"></script>
	<script type="text/javascript">
        var maps = L.map('maps', {
            minZoom: 1,
            maxZoom: 5,
            crs: L.CRS.Simple
        }).setView([-131.5, 135.5], 1);

        var southWest = maps.unproject([0, 8192], maps.getMaxZoom());
        var northEast = maps.unproject([8192, 0], maps.getMaxZoom());
        maps.setMaxBounds(new L.LatLngBounds(southWest, northEast));

        L.tileLayer('/static/map-tile/{z}/map_{x}_{y}.png', {
            attribution: 'Albertina',
            tms: true
        }).addTo(maps);

        {% for room in library %}
        	{% if room %}
            	var circle = L.circle({{ room }}, 16, {color: 'yellow'}).addTo(maps);
            {% endif %}
        {% endfor %}
	</script>
{% endblock %}
