{% extends "base_generic.html" %}

{% block title %}Searchengine dm18a{% endblock %}

{% block content_generic %}

	{% load i18n %}
	<!-- Kopfzeile -->
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">KoLibri</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/help">{% trans 'Hilfe' %}<span class="sr-only">(current)</span></a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<a class="nav-link" href="http://pcai042.informatik.uni-leipzig.de/~dm18a/jekyll/">Blog</a>
				</form>
			</div>
		</nav>
	</header>

	<!-- Große Suchleiste -->
	<div class="container d-flex align-items-center h-50 col-xs-12 col-sm-8 col-md-6 ">
		<!--<h1 style="font-size: 124px">KoLibri</h1>-->
	</div>
	<div class="container d-flex align-items-center col-xs-12 col-sm-8 col-md-6  ">
		<form class="input-group input-group-search mx-auto" action="/search/receive" method="post">
			{% csrf_token %}
			<input type="hidden" name="last_path" value="{{ request.path }}">
			<input type="search" class="form-control" placeholder="rvk:&quot;GE 5517&quot;" aria-label="Search"
				   aria-describedby="search-button-addon" name="query"
			>
			<div class="input-group-append">
				<a class="bg-light input-group-text" href="/help">?</a>
				<button class="btn btn-primary" id="button-addon2" type="submit">{% trans 'Suche' %}</button>
			</div>

		</form>
	</div>
	<div class="container d-flex align-items h-50 col-xs-12 col-sm-8 col-md-6 ">
		<p>
			<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
			   aria-expanded="false"
			   aria-controls="collapseExample"
			>
				{% trans 'Beispielsuchen' %}
			</a>
		</p>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				<a href="/search/author/Heine%2C Heinrich">author:&quot;Heine, Heinrich&quot;</a>
				<a href="/search/rvk/HI%203391">rvk:&quot;HI 3391&quot;</a>
				<a href="/search/title/Java ist auch eine Insel %3A Einführung%2C Ausbildung%2C Praxis">title:&quot;Java
					ist
					auch eine Insel : Einführung, Ausbildung, Praxis&quot;</a>
				<br>

				<p>{% blocktrans trimmed %} Die Sucheingabe muss exakt sein! {% endblocktrans %}</p>
			</div>
		</div>
	</div>
{% endblock %}
