{% extends "base.html" %}

{% block title %}Searchresults{% endblock %}

{% block content %}

	{% load i18n %}
	<div class="container" xmlns:width="http://www.w3.org/1999/xhtml">
		<!-- errors -->
		{% if errors|length > 0 %}
			<div class="alert alert-danger" role="alert">
				<ul>
					{% for e in errors %}
						<li>{{ e }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<div class="row" style="margin: 1px">
			<select name="sort" id="sort" class="form-control col-xs-offset-12 col-sm-offset-10 col-md-offset-2">
				<option>{% trans 'Sortieren nach...' %}</option>
				<option value="/sort/title-asc">{% trans 'Aufsteigend nach Titel' %}</option>
				<option value="/sort/title-desc">{% trans 'Absteigend nach Titel' %}</option>
				<option value="/sort/author-asc">{% trans 'Aufsteigend nach Autor' %}</option>
				<option value="/sort/author-desc">{% trans 'Absteigend nach Autor' %}</option>
				<option value="/sort/language-asc">{% trans 'Aufsteigend nach Sprache' %}</option>
				<option value="/sort/language-desc">{% trans 'Absteigend nach Sprache' %}</option>
			</select>
			<script type="text/javascript">
                var sortmenu = document.getElementById('sort');
                sortmenu.onchange = function () {
                    var current_url = new URL(window.location.href);
                    var current_path = current_url.pathname;

                    // remove former sortings
                    current_path = current_path.replace(new RegExp('/sort/[-\\w]+'), '');

                    var new_url = current_url.protocol + "//" + current_url.host + current_path + this.options[this.selectedIndex].value;
                    window.location.replace(new_url);
                };
			</script>
		</div>

		<!-- Informationen zum Autor -->
		{% if author_information %}
			<div class="container list-group-item">

				<div class="row">
					<div class="col-8">
						<div class=""><h3 class="align-center">{{ author_information.name }}</h3></div>
						<table class="table">
							{% if author_information.date_of_birth and author_information.place_of_birth %}
								<tr>
									<td>{% trans 'Geboren' %}</td>
									<td>{{ author_information.date_of_birth }}
										in {{ author_information.place_of_birth }}</td>
								</tr>
							{% endif %}
							{% if author_information.date_of_birth and author_information.place_of_death %}
								<tr>
									<td>{% trans 'Gestorben' %}</td>
									<td>{{ author_information.date_of_death }}
										in {{ author_information.place_of_death }}</td>
								</tr>
							{% endif %}
							{% if author_information.nation %}
								<tr>
									<td>{% trans 'Land der Staatsangehörigkeit' %}</td>
									<td>{{ author_information.nation }}</td>
								</tr>
							{% endif %}
						</table>
					</div>
					<div class="col-4">
						<img src="/static/person.png" class="img-thumbnail img-thumbnail" alt="Responsive image"
							 style="width: 200px; float: right;"
						>
					</div>
				</div>
			</div>
		{% endif %}

		<!-- Suchergebnisse -->
		<div class="container-fluid" style="padding-top: 10px;">
			<section class="col-xs-12 col-sm-12 col-md-12">

				{% for id, book in results.items %}
					<div class="list-group">
						<a href="/title/{{ id }}" class="list-group-item list-group-item-action">
							{% if book.errors|length > 0 %}
								<!-- errors -->
								<div class="alert alert-danger" role="alert">
									<ul>
										{% for e in book.errors %}
											<li>{{ e }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}

							<div class=""><h3 class="align-center">{{ book.name }}</h3></div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-5">
									<img src="{{ book.cover_image }}" class="img-fluid img-thumbnail" alt="cover image">

								</div>
								<div class="col-xs-12 col-sm-12 col-md-7">
									<table class="table">
										{% if book.authors|length > 0 %}
											<tr>
												<td>{% trans 'Autor:' %}</td>
												<td>
													{% for author in book.authors %}
														<a href="/search/author/{{ author }}">{{ author }}</a>
													{% endfor %}
												</td>
											</tr>
										{% endif %}
										{% if book.libraries|length > 0 %}
											<tr>
												<td>{% trans 'Bibliotheksstandort:' %}</td>
												<td>
													{% for lib_name in book.libraries %}
														{{ lib_name }}
													{% endfor %}</td>
											</tr>
										{% endif %}
										{% if 'availability' in book %}
											<tr>
												<td>{% trans 'Verfügbarkeit:' %}</td>
												<td>{{ book.availability }}</td>
											</tr>
										{% endif %}
										{% if 'link' in book %}
											<tr>
												<td>{% trans 'Link:' %}</td>
												<td><a href="{{ book.link }}">Link zur UBL</a></td>
											</tr>
										{% endif %}
										{% if book.rvk_codes|length > 0 %}
											<tr>
												<td>{% trans 'Kategorien:' %}</td>
												<td>
													<ul style="list-style: none; margin: 0px; padding: 0px">
														{% for rvk_code in book.rvk_codes %}
															<li><a href="/search/rvk/{{ rvk_code }}">{{ rvk_code }} </a>
															</li>
														{% endfor %}
													</ul>
												</td>
											</tr>
										{% endif %}
									</table>
								</div>
							</div>
						</a>
					</div>

				{% endfor %}
				<ul class="pagination justify-content-center">
					{% for p in pagination %}
						{% if p.active %}
							<li class="page-item active" aria-current="page">
								<span class="page-link">{{ p.text }}<span class="sr-only"> ({% trans 'aktuelle Seite' %})</span></span>
							</li>
						{% else %}
							<li class="page-item"><a class="page-link" href="{{ p.target }}">{{ p.text }}</a></li>
						{% endif %}
					{% endfor %}

				</ul>

			</section>
		</div>
	</div>
{% endblock %}
