{% extends "base_generic.html" %}

{% block content_generic %}

	{% load i18n %}
	<!-- Kopfzeile -->
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="/">KoLibri</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/help">{% trans 'Hilfe' %}<span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0 navbar-form" action="/search/receive" method="post">
			{% csrf_token %}
			<div class="input-group input-group-search mx-auto col-xs-12 col-sm-10 col-md-8 align-items-center">
				<input type="hidden" name="last_path" value="{{ request.path }}">
				<div class="input-group input-group-search mx-auto">
					<input type="search" class="form-control" placeholder="rvk:&quot;GE 5517&quot;" aria-label="Search"
						   aria-describedby="search-button-addon" name="query" value="{{ query_string }}"
					>
					<div class="input-group-append">
						<a class="bg-light input-group-text" href="/help">?</a>
						<button class="btn btn-primary" type="submit" id="search-button-addon"
						>{% trans 'Suche' %}</button>
					</div>
				</div>
			</div>
		</form>
	</nav>

	{% block content %}{% endblock %}
{% endblock %}
