<!DOCTYPE html>
<html lang="en">
<head>


	<title>{% block title %}Semantische Bibliotheksservices{% endblock %}</title>

	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<!-- Stylesheet -->
	<!--<link href="/static/main.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="/static/leaflet/leaflet.css"/>
	<link rel="stylesheet" href="/static/map.css"/>
	<link rel="stylesheet" href="/static/book.css"/>
	<link rel="stylesheet" href="/static/result.css"/>

</head>
<body>
	{% load i18n %}
	<body style="background-color:#F2F2F2">

		{% block content_generic %}{% endblock %}

		<!-- Button für wechsel für Sprachen

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form> -->

		<!-- Fusszeile -->
		<footer>
			<hr/>
			<nav class="navbar bottom">
				<li class="form-inline nav-item">
					<a class="nav-link text-dark" href="/impressum">Impressum</a>
					<a class="nav-link text-dark" href="/kontakt">{% trans 'Kontakt' %}</a>
				</li>
			</nav>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
				crossorigin="anonymous"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"
		></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>

		<script src="/static/leaflet/leaflet.js"></script>

		{% block script_generic %}{% endblock %}

	</body>
</html>
