{% extends "base.html" %}

{% block title %}Hilfe{% endblock %}

{% block content %}

{% load i18n %}
<div class="container">
    <h1>{% trans 'Hilfe' %}</h1>

    <p align="justify">
        {% blocktrans trimmed %}
        Mit dieser Webanwendung können Bücher aus dem Bestand der Universitätsbibliothek Leipzig anzeigt werden in dem
        eine Suche nach einem beliebigen Titel, einer ISBN oder eine/m/er Autor/in ausgeführt werden. Die Ergebnisse
        werden aufgelistet mit detaillierten Informationen zu einzelnen Werken und der aktuellen Verfügbarkeit.
        Weiterhin wird die Position der Bibliothek, in der das Buch steht, auf einer Karte von Leipzig angezeigt. Für
        Bücher aus der Bibliothek Albertina gibt es außerdem eine weitere Detailansicht, hier wird auf einer Karte der
        Bibliothek gezeigt, in welchem Bereich das Buch steht.
        {% endblocktrans %}
    </p>
    <br>
	<h3>{% trans 'Suche' %}</h3>
    <p align="justify">
        {% blocktrans trimmed %}
			Die Suche sucht grundsätzlich nach Werken mit allen angegeben Worten in beliebiger Reihenfolge im Titel.
			Zusammenhängende Worte werden "mit Anführungszeichen begrenzt". Außerdem lässt sich mit z.B. rvk:"GE 5517"
			nach einem bestimmten RVK-Code suchen. Analog existieren die Suchfilter "isbn:", "issn:", "author:",
			"language:" und "title:" (zur exakten Angabe eines Titels). Die beschriebenen Möglichkeiten lassen sich nach
			Belieben kombinieren.
		{% endblocktrans %}
    </p>
    <br>
    <h3>{% trans 'Aufbau der Seiten' %}</h3>
    <p align="justify">
        {% blocktrans trimmed %}
        Alle Seiten dieser Website haben eine Kopfzeile mit den Hyperlinks “(Logo)” links außen der zur Startseite
        führt, “Hilfe” welcher diesen Hilfetext anzeigt und “Blog” rechts außen der zu einer externen Website führt auf
        welche Informationen zum Entwicklungsstand dieser Seite sind. Auf allen Seiten außer der Startseite befindet
        sich in der Mitte noch eine Suchleiste.
        {% endblocktrans %}
    </p>
    <p align="justify">
        {% blocktrans trimmed %}
        In der Fußzeile befinden sich links außen “Impressum”, um rechtliche Details zu erfahren und “Kontakt” um bei
        weiteren Fragen oder Interesse Kontakt mit der Universitätsbibliothek aufzunehmen.
        {% endblocktrans %}
    </p>
    <br>
    <h3>{% trans 'Startseite' %}</h3>
    <p align="justify">
        {% blocktrans trimmed %}
        Im Zentrum der Startseite befindet sich eine Leiste in der Titel, ISBN oder Autor*in eines Buches eingegeben
        werden können, mit klicken auf den Button “Suche” wird eine Suche nach der Eingabe ausgelöst. Bleibt das
        Suchfeld leer und eine Suche wird ausgeführt, bleibt die Seite unverändert.
        {% endblocktrans %}
    </p>
    <br>
    <h3>{% trans 'Ergebnisliste' %}</h3>
    <p align="justify">
        {% blocktrans trimmed %}
        Hier werden alle Ergebnisse der Suche aufgelistet, durch Drücken auf einen Titel gibt es eine Weiterleitung zur
        Detailansicht des Werkes. Sollten keine Bücher gefunden werden, bleibt die Ergebnisliste leer.
        {% endblocktrans %}
    </p>
    <br>
    <h3>
        {% trans 'Detailansicht' %}
    </h3>
    <p align="justify">
        {% blocktrans trimmed %}
        Details zu dem gesuchten Buch werden angezeigt, auf einer Karte von Leipzig wird markiert wo sich die Bibliothek
        mit dem Buch befindet. Für Bücher aus der Albertina gibt es eine Weiterleitung zu einer Karte der Bibliothek.
        {% endblocktrans %}
    </p>
    <br>
    <h3>
        {% trans 'Karte der Bibliothek' %}
    </h3>
    <p align="justify">
        {% blocktrans trimmed %}
        Karte der Bibliothek Albertina auf der die Position des Buches mit einem gelben Kreis markiert ist.
        {% endblocktrans %}
    </p>
    <br>
</div>
{% endblock %}
