{% extends "base.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
{% load i18n %}
	<div class="container h-100">
		<br>
		<h2 >{% trans 'Impressum' %}</h2>
		<br>
		<p class="text-justify">
			{% blocktrans trimmed %}
			Diese Webseite ist ein Teil eines Projektes von der Universitätsbibliothek Leipzig,
			für mehr Informationen bitte klick
			<a href="https://www.ub.uni-leipzig.de/sitemaprechtliches/impressum/"> hier.</a>
			{% endblocktrans %}</p>
		<p class="text-justify">
			{% blocktrans trimmed %}
			Book.jpg ist unter CCO Creative Commons von <a href="pixabay.com">pixabay.com</a>
			{% endblocktrans %}</p>
		<p class="text-justify">
			{% blocktrans trimmed %}
			Searchbar und searchresult Liste sind unter MIT License von:
			Copyright (c) 2013 <a href="Bootsnipp.com">Bootsnipp.com</a>
			{% endblocktrans  %}
		</p>
	</div>
{% endblock %}
